<table>
  <thead>
    <tr>
      <th>Table header</th>
      <th>Table header</th>
      <th>Table header</th>
      <th>Table header</th>
      <th>Table header</th>
      <th>Table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
      <td>Lorem ipsum</td>
      <td>Lorem ipsum dolor sit amet</td>
      <td>Lorem ipsum dolor</td>
      <td>Lorem ipsum dolor sit amet, consectetur</td>
      <td>Lorem ipsum dolor sit amet</td>
    </tr>
    <tr>
      <td>Lorem ipsum</td>
      <td>Lorem ipsum dolor sit amet</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
      <td>Lorem ipsum dolor</td>
      <td>Lorem ipsum dolor sit amet</td>
      <td>Lorem ipsum dolor sit amet, consectetur</td>
    </tr>
    <tr>
      <td>Lorem ipsum dolor sit amet, consectetur</td>
      <td>Lorem ipsum</td>
      <td>Lorem ipsum dolor sit amet</td>
      <td>Lorem ipsum dolor</td>
      <td>Lorem ipsum dolor sit amet</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
    </tr>
  </tbody>
</table>