<div class="c-cart-voucher">
  <div class="form-group has-success">

    <label for="">Promotion Code</label>
    <em>Discounts are not applicable for distributed products.</em>

    <form action="">
      <div class="c-cart-voucher__inputs">
        <input class="input c-cart-voucher__input" type="text" placeholder="Promotion code" />
        <button class="button--form button--primary c-cart-voucher__btn" disabled="disabled">Apply</button>
        <span class="c-cart-voucher__value">$25.00</span>
      </div>

      <div class="help-block">
        <span class="help-block__error">The promotion code entered is not valid.</span>
        <span class="help-block__success">The promotion code entered is applied.</span>
      </div>

      <div class="c-cart-voucher__applied">
        <span class="c-cart-voucher__item">
          10percentoff
          <button class="c-cart-voucher__remove"></button>
        </span>
      </div>
    </form>

  </div>
</div>