





<div class="offset">


<div class="box light">
<div class="has-error">
  <div class="help-block">
    <span class="error-message">Password does not meet minimum requirements.</span>
  </div>
</div>
</div>

<div class="box dark corners-semiround-sm">
<div class="form-inverse">
<div class="has-error">
  <div class="help-block">
    <span class="error-message">Password does not meet minimum requirements.</span>
  </div>
</div>

</div>
</div>



</div>