<div class="offset">
<div class="box light">
<div class="has-success">
  <div class="help-block">
    <span class="success-message">Success!</span>
  </div>
</div>
</div>

<div class="box dark corners-semiround-sm">
<div class="form-inverse">
<div class="has-success">
  <div class="help-block">
    <span class="success-message">Success!</span>
  </div>
</div>
</div>

</div>



</div>