<div class="container grid-show">
  <div class="row">
    <div class="col-1">
      <div>col-1</div>
    </div>
    <div class="col-11">
      <div>col-11</div>
    </div>
  </div>
</div>

<div class="container grid-show">
  <div class="row">
    <div class="col-2">
      <div>col-2</div>
    </div>
    <div class="col-10">
      <div>col-10</div>
    </div>
  </div>
</div>

<div class="container grid-show">
  <div class="row">
    <div class="col-3">
      <div>col-3</div>
    </div>
    <div class="col-9">
      <div>col-9</div>
    </div>
  </div>
</div>

<div class="container grid-show">
  <div class="row">
    <div class="col-4">
      <div>col-4</div>
    </div>
    <div class="col-8">
      <div>col-8</div>
    </div>
  </div>
</div>

<div class="container grid-show">
  <div class="row">
    <div class="col-5">
      <div>col-5</div>
    </div>
    <div class="col-7">
      <div>col-7</div>
    </div>
  </div>
</div>

<div class="container grid-show">
  <div class="row">
    <div class="col-6">
      <div>col-6</div>
    </div>
    <div class="col-6">
      <div>col-6</div>
    </div>
  </div>
</div>

<div class="container grid-show">
  <div class="row">
    <div class="col-7">
      <div>col-7</div>
    </div>
    <div class="col-5">
      <div>col-5</div>
    </div>
  </div>
</div>

<div class="container grid-show">
  <div class="row">
    <div class="col-8">
      <div>col-8</div>
    </div>
    <div class="col-4">
      <div>col-4</div>
    </div>
  </div>
</div>

<div class="container grid-show">
  <div class="row">
    <div class="col-9">
      <div>col-9</div>
    </div>
    <div class="col-3">
      <div>col-3</div>
    </div>
  </div>
</div>

<div class="container grid-show">
  <div class="row">
    <div class="col-10">
      <div>col-10</div>
    </div>
    <div class="col-2">
      <div>col-2</div>
    </div>
  </div>
</div>

<div class="container grid-show">
  <div class="row">
    <div class="col-11">
      <div>col-11</div>
    </div>
    <div class="col-1">
      <div>col-1</div>
    </div>
  </div>
</div>

<div class="container grid-show">
  <div class="row">
    <div class="col-12">
      <div>col-12</div>
    </div>
  </div>
</div>
