<div class="c-help-banner">
  <div class="container">
    <div class="row">

      <div class="c-help-banner__content">
        <span>Need Help?</span>
        <a href="#0" class="c-help-banner__link" data-help-title="Get in touch" data-help-content="" data-help-url="">Get in touch</a>
      </div>

    </div>
  </div>
</div>