<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="{{ path '/js/jquery-3.6.0.min.js' }}"></script>
      <link media="all" rel="stylesheet" href="{{ path '/css/theme-mojo.css' }}">
      <link media="all" rel="stylesheet" href="{{ path '/css/components.css' }}">
      <title>Tabs Component</title>
  </head>
  <body>
    <div style="display: flex; flex-wrap: wrap">

    </div>
    {{{ yield }}}
  </body>
</html>
