<label class="c-radiobtn" for="1">
  <input class="c-radiobtn__input" id="1" type="radio" name="radios" value="1" />
  <span class="c-radiobtn__check">{{ radio }}</span>
</label>

<label class="c-radiobtn" for="2">
  <input class="c-radiobtn__input" id="2" type="radio" name="radios" value="2" />
  <span class="c-radiobtn__check">{{ radio }}</span>
</label>