<div class="has-error">
    <label class="c-radiobtn" for="1">
        <input class="c-radiobtn__input" id="1" type="radio" name="radios" value="1" />
        <span class="c-radiobtn__check">{{ radio }}</span>
    </label>
    <div class="help-block">
        <span class="has-error">Error message</span>
    </div>
    <div class="help-block">
        <span>Help message</span>
    </div>
</div>