<label class="c-radiobtn c-boxed disabled" for="1">
  <input class="c-radiobtn__input" id="1" type="radio" name="radios" value="1" disabled />
  <span class="c-radiobtn__check">{{ radio }}</span>
</label>

<label class="c-radiobtn c-boxed disabled" for="2">
  <input class="c-radiobtn__input" id="2" type="radio" name="radios" value="2" disabled checked/>
  <span class="c-radiobtn__check">{{ radio }}</span>
</label>