<label class="c-radiobtn c-boxed selected" for="1">
  <input class="c-radiobtn__input" id="1" type="radio" name="radios" value="1" checked />
  <span class="c-radiobtn__check">{{ radio }}</span>
  <p>No other person will be able to order from this account except yourself. If this is not right, choose an account other then 'My account' in the previous step.</p>
</label>