
<div class="offset">
	<div class="box light">
		<div class="dropdown-list default section"><div class="">
			<select class="form-control">
			<option value="">Choose</option>
			<option aria-selected="false" value="Choose01">Choose</option>
			<option aria-selected="false" value="Choose02">Choose</option>
			<option aria-selected="false" value="Choose03">Choose</option>
			</select>
			</div>
		</div>
	</div>
	<div class="box dark corners-semiround-sm">
		<div class="dropdown-list default section"><div class="">
			<select class="form-control">
			<option value="">Choose</option>
			<option aria-selected="false" value="Choose01">Choose</option>
			<option aria-selected="false" value="Choose02">Choose</option>
			<option aria-selected="false" value="Choose03">Choose</option>
			</select>
			</div>
		</div>
	</div>

</div>
