<div class="offset">
	<div class="box light">
		<div class="dropdown-list help-with-icon">
		<div class="form-control__status">
			<select class="form-control">
				<option value="">Choose</option>
				<option value="Choose01">Choose</option>
				<option value="Choose02">Choose</option>
				<option value="Choose03">Choose</option>
			</select>
			<p class="help-block" id="dropdown-example-01-desc">Help message</p>
			</div>
		</div>
	</div>
	<div class="box dark corners-semiround-sm">
		<div class="form-inverse">
		<div class="dropdown-list help-with-icon">
		<div class="form-control__status">
			<select class="form-control">
				<option value="">Choose</option>
				<option value="Choose01">Choose</option>
				<option value="Choose02">Choose</option>
				<option value="Choose03">Choose</option>
			</select>
			<p class="help-block" id="dropdown-example-01-desc">Help message</p>
			</div>
		</div>
		</div>
	</div>

</div>
