<div class="offset">
	<div class="box light">
		<div class="dropdown-list">
		<div class="form-control__status has-error">
			
			<select class="form-control">
				<option value="">Choose</option>
				<option value="Choose01">Choose</option>
				<option value="Choose02">Choose</option>
				<option value="Choose03">Choose</option>
			</select>
			<span class="error-message">Error message</span>
			
			</div>
			<p class="help-block">Help message</p>
		</div>
	</div>
	<div class="box dark corners-semiround-sm">
		<div class="form-inverse">
		<div class="dropdown-list">
		<div class="form-control__status has-error">
			
			<select class="form-control">
				<option value="">Choose</option>
				<option value="Choose01">Choose</option>
				<option value="Choose02">Choose</option>
				<option value="Choose03">Choose</option>
			</select>
			<span class="error-message">Error message</span>
			
			</div>
			<p class="help-block">Help message</p>
		</div>
		</div>
	</div>

</div>
