<h1 class="c-sectionHeader c-sectionHeader--cart hasBorderBottom">
  Cart
  <span class="c-sectionHeader__cartID">
      ID:<span>10000000042813</span>
  </span>
  <span class="js-cart-top-totals c-sectionHeader__total">
    Total (1 item)<span>$153.00</span>
  </span>
</h1>