<h1 class="c-sectionHeader hasBorderBottom">
  <a class="c-sectionHeader__back" href="#0" aria-label="Go back">
    <img src="{{ path '/assets/icons/ic_chevron_soft_black_20.svg' }}" alt="" />
  </a>
  Edit degree
</h1>