<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <script src="{{ path '/js/jquery-3.6.0.min.js' }}"></script>
      <link media="all" rel="stylesheet" href="{{ path '/css/theme-master.css' }}">
      <link media="all" rel="stylesheet" href="{{ path '/css/components.css' }}">
      <title>Section header</title>
  </head>
  <body data-themename="theme-master" >

    {{{ yield }}}

  </body>
</html>


