<div class="form-group">

  <div class="c-terms-conditions-area isBoxed bg--graylighter">
    <label class="c-checkbox">
      <input class="c-checkbox__input" type="checkbox" />
      <span class="c-checkbox__check">I've read and agree to the <a class="external-link" target="_blank" href="#0" rel="noopener noreferrer external">Terms &amp; Conditions</a></span>
      <span class="asterisk">&nbsp;*</span>
    </label>
    <div class="help-block">
      <span class="help-block__error">You must agree to the terms and conditions.</span>
    </div>
  </div>

</div>